<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="todo-table" class="container">
    <h1>Edit task</h1>
    <form action="todo/" id="todoForm" method="post">
        <div class="form-group">
            <label for="taskTitle">Title</label>
            <input type="text" name="taskTitle" class="form-control" placeholder="Add title..." >
        </div>
        <div class="form-group">
            <label for="taskTitle">Text</label>
            <textarea name="taskText" class="form-control" placeholder="Add text..." ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Item</button>
    </form>
</div>
</body>
</html>