<!DOCTYPE html>
<html lang="eng">
 <head>
     <title>Todo list</title>
     <link rel="stylesheet" href="style.css">
 </head>
<body>
<h1>My ToDo list</h1>
 <div id="todo-table">
     <form action="" id="todoForm" >
         <input type="text" name="task" placeholder="Add new item..." >
         <button type="submit">Add Item</button>
     </form>

     <ul class="list-group" id="list">
        <%for(let i = 0; i < todos.length; i++){%>
           <li><%= todos[i].task %></li>
         <%}%>
     </ul>
 </div>
<script>
    todoForm.onsubmit = function() {
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/todo', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({task: this.elements.task.value}));

      window.location.reload()
      return false;
  };
</script>
</body>
</html>
