.panel-container {
    padding-top: 15px;
}

.panel-heading {
    position: relative;
    min-height:50px;
}

.panel-btn {
    position: absolute;
    right: 15px;
    top: 15px;
}
.btn-delete {
    background: none;
    padding: 0;
}

.form-message {
    display: none;
}

.nav-tabs {
    border-bottom: none;
}

.modal-header_tabs {
    padding-bottom: 0;
}

.center-block {
    float: none;
}

.avatar-wrap {
    font-size: 71px;
    border: 1px solid grey;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}