<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('parts/registration-form'); %>
    <script>
        login.addEventListener('submit', function(e){
          e.preventDefault();
          let data;

          try {
            data = JSON.stringify(
              {
                email: this.elements.email.value,
                password: this.elements.password.value,
                _csrf: this.elements._csrf.value
              }
            )
          } catch(e) {
            throw Error('Invalid JSON',e);
          }

          fetch('/login', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'X-CSRFToken': this.elements._csrf.value
            },
            credentials:'include',
            body: data
          }).then((res) => {
            return res.text()
          }).then(function(body) {
            let data = JSON.parse(body);
            document.body.innerHTML = data.error;
          }).catch((err) => {
            throw err
          })
        })
    </script>
</body>
</html>