<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 center-block">
            <div class="page-header">
                <h1>Profile</h1>
                <ol class="breadcrumb">
                    <li><a href="/logout">Logout</a></li>
                </ol>
            </div>
            <div class="thumbnail">
                <div class="avatar-wrap">
                    <i class="glyphicon glyphicon-user avatar"></i>
                </div>
                <div class="caption">
                    <ul class="list-group">
                        <li class="list-group-item">Name: <%= user._id %></li>
                        <li class="list-group-item">Email: <%= user.email %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>