<div class="container-fluid">
    <div class="modal fade in" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center text-primary"><span class="glyphicon glyphicon-home"></span> Authentication</h1>
                </div>
                <div class="modal-body">
                    <p class="lead">Welcome to the ToDo application</p>
                </div>
                <div class="modal-footer">
                    <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Login</a>
                    <a href="/signup" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>